{
    "Network": "{{ kube_service_address }}",
    "SubnetLen": {{ SubnetLen }},
    "SubnetMin": "{{ SubnetMin }}",
    "SubnetMax": "{{ SubnetMax }}",
    "Backend": {
        "Type": "{{ Backend_Type }}",
        "VNI": {{ Backend_VNI }}
    }
}
